/* colors */
:root {
  --espresso: rgb(75, 45, 11);
}

/* universal */

* {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--espresso);
}

.recipe h1 {
  font-size: 1.5rem;
  margin: 1rem 0 0.5rem 10rem;
}

.recipe {
  display: flex;
  flex-direction: column;
}

.recipe img {
  width: 700px;
  margin-left: 10rem;
  margin-bottom: 1rem;
}

.text {
  width: 50vw;
  margin-top: 10px;
  margin-left: 10rem;
}

/* index body*/

.homepage {
  background-image: url(/img/gingham.jpg);
}

/* nav */

h1 a {
  display: inline-block;
  color: var(--espresso);
  margin: 0 0 20px 0;
  font-style: italic;
  font-size: 2rem;
}

nav {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-bottom: var(--espresso) solid 3px;
  margin-bottom: 3;
}

.links ul {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100vw;
  font-weight: bold;
}

.links ul li a {
  text-decoration: none;
  color: var(--espresso);
}

/* main */

.images img {
  width: 500px;
  margin: 0 10px 0 10px;
  align-self: center;
}

.images {
  display: flex;
  width: 100vw;
  height: 85vh;
  justify-content: center;
  align-content: center;
}

/* pancake */

/* donut */

/* cinn */
